@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #242526;
}

.clipboard-text::before,
.clipboard-text::after {
  --scale: 0;

  position: absolute;
  transform: translateX(50%) translateY(0%) scale(var(--scale));
  transition: 50ms transition;
  left: 50%;
  opacity: 50%;
}

.clipboard-text::after {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  content: "Click to Copy";
  height: 25px;
  width: fit-content;
  background: black;
  border-radius: 0.5rem;
}

.clipboard-text:hover::after {
  --scale: 1;
}
